<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lora:700,700i" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <div class="navbar">
        <!-- Logo -->
          <!-- <img src="assets/images/liquid-curage-logo.png" class="navbar-logo"> -->
          <%=  image_tag ("liquid-curage-logo.png") ,class: "navbar-logo" %>

        <h1>Liquid Courage</h1>

        <!-- Right Navigation -->
        <div class="navbar-right hidden-xs hidden-sm">
          <a href="" class="navbar-create"><%= link_to "Create a new cocktail", new_cocktail_path %></a>
        </div>
      </div>

        <div class="container">
          <div class="row">
                  <% @cocktails.each do |cocktail| %>
            <div class="col-xs-12 col-sm-4">
                 <div class="cocktail-list">
                     <%= link_to cocktail_path(cocktail) do %>
                     <div class="card"
                  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                      <div class="card-description">
                        <p>Click for more courage</p>
                        <h2><%= cocktail.name %></h2>
                      </div>
                    </div>
                 <% end %>
            </div>
          </div>
                <% end %>
        </div>
      </div>
    </div>
</body>
</html>

