<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose| %>
  <p>
     <%= dose.description %>
     <%= dose.ingredient.name %>
     <%= link_to "Remove", cocktail_dose_path(@cocktail, dose),
     method: :delete,
     data: {confirm: "really?"} %>

  </p>
<% end %>
 <p> <%= link_to "Back", cocktails_path(@cocktail) %></p>
 <p> <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %></p>
